html.quiz{
    height: 100%;
  }
  
  header{
    font-family:Georgia, 'Times New Roman', Times, serif
  }

  body.quiz{
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    margin: 0;
    background-color: rgb(93, 151, 240)
  }

  body.quiz-result{
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    margin: 0;
    background-color: rgb(243, 204, 76)
  }

  main.quiz{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  img.quiz-img {
    width: 250px;
  }

  
@media (min-width: 598px){
  body.quiz {

    background-color: rgb(93, 151, 240)
  }

  body.quiz-result{
    background-color: rgb(93, 151, 240)
  }
}
  @media (min-width: 798px){
    body.quiz {
      background-image: url('../img/thom-milkovic-seattle-mountain-unsplash.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }

    body.quiz-result{
      background-image: url('../img/seattle-placeholder.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }


