h1 {
    font-family: 'Helvetica', sans-serif;
    background-color: darkolivegreen;
    text-align: center;
    color: whitesmoke;
    padding: 0.3em;
    margin: 0%;
}

h2 {
    font-family: 'Helvetica', sans-serif;
    background-color: darkolivegreen;
    color: whitesmoke;
    padding: 0.3em;
    
}

h3 {
    font-family: 'Helvetica', sans-serif;
    background-color: darkolivegreen;
    margin-bottom: 0%;
    color: whitesmoke;
    margin: 0%;
}

p.authors {
    font-style: italic;
    background-color: burlywood;
    font-size: large;
}

.problem {
    background-color: gainsboro;
}

.application{
    background-color: gainsboro;

}

section.application .features{
    background-color: white;

}

ul {
    padding-bottom: 2%;
}